<%= form_for(@urednici) do |f| %>
  <% if @urednici.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@urednici.errors.count, "error") %> prohibited this urednici from being saved:</h2>

      <ul>
      <% @urednici.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Jméno %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Příjmení %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :Ulice %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :Město %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :PSČ %><br>
    <%= f.number_field :zip %>
  </div>
  
<div><%= f.submit "Potvrďit", class: "button" %></div>


<% end %>
