<p id="notice"><%= notice %></p>

<p>
  <strong>Jméno:</strong>
  <%= @urednici.name %>
</p>

<p>
  <strong>Příjmení:</strong>
  <%= @urednici.surname %>
</p>

<p>
  <strong>Ulice:</strong>
  <%= @urednici.street %>
</p>

<p>
  <strong>Město:</strong>
  <%= @urednici.city %>
</p>

<p>
  <strong>PSČ:</strong>
  <%= @urednici.zip %>
</p>

<%= link_to 'Editovat', edit_urednici_path(@urednici) %> |
<%= link_to 'Zpět', urednicis_path %>
