<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keywords %><br>
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :Jméno %><br>
    <%= f.text_field :Jmeno %>
  </div>
  <div class="field">
    <%= f.label :Příjmení %><br>
    <%= f.text_field :Prijmeni %>
  </div>
  <div class="field">
    <%= f.label :Ulice %><br>
    <%= f.text_field :Ulice %>
  </div>
  <div class="field">
    <%= f.label :Město %><br>
    <%= f.text_field :Mesto %>
  </div>
  <div class="field">
    <%= f.label :PSČ %><br>
    <%= f.number_field :PSC %>
  </div>
  <div class="actions">
    <%= f.submit "Potvrďit"%>
  </div>
<% end %>






