<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Databáze známých úředníků" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
 <body>
    <div class="row">
      <nav class="top-bar column" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="/">
               Úředníci
              </a>
            </h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
        </ul>



        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">

            <%if user_signed_in?%>
              <li><%=link_to current_user.email, edit_user_registration_path%></li>
              <li><%=link_to "Odhlásit", destroy_user_session_path, method: :delete%></li>
               <li><%=link_to "Seznam úředníků", urednicis_path%></li>
           

            <%end%>

              <%if admin_signed_in?%>
              <li><%=link_to current_admin.email%></li>
              <li><%=link_to "Odhlásit", destroy_admin_session_path, method: :delete%></li>
               <li><%=link_to "Seznam úředníků", urednicis_path%></li>

                
               
            <%else %>
              <li><%=link_to "Registrovat", new_user_registration_path%></li>
              <li><%=link_to "Přihlásit se", new_user_session_path%></li>
              <li><%=link_to "Seznam úředníků", urednicis_path%></li>
          <%end%>



          </ul>

          <!-- Left Nav Section -->


               
             

          <ul class="left">
            <li class="has-form">
              <div class="row collapse">
               
              <div class="large-5 small-9 columns">

                  <%= form_tag urednicis_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
                  <p><%= text_field_tag :search, params[:search], class: "radius-left expand", placeholder: "Najít úředníka" %></p>  

              </div>


              <div class="large-4 small-3 columns">
                  
                    <p><%= submit_tag "Hledat", name: nil, class: "radius-right button" %></p>

                    <% end %>            

              </div>

              <div class="small-3 columns">

                    <p><%=link_to "Rozšířené vyhledávání", searches_path%></p>

               </div>

               
              </div>
            </li>
          </ul>
        </section>
      </nav>
    </div>




  
    <div id="main-content" class="row full-min-height">
      <%= yield %>
    </div>

    <footer class="row">
      <div class="large-12 columns">
        <hr>
        <p>© Úředníci 2015</p>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>








